#!/bin/sh

alias ls='ls -G'
alias ll='ls -la'

LS_COLORS=

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../../'
alias ......='cd ../../../../..'
alias .......='cd ../../../../../..'

alias sz='source ~/.zshrc'

alias ea='vim ~/.aliases'
alias ez='vim ~/.zshrc'
alias ev='vim ~/.vimrc'

alias grep='grep --color=auto'

alias lsr='ls -l ./*(mh-1)'

alias bc='bc -l -q'

export ANDROID_HOME=$HOME/Library/Android/sdk
export ANDROID_SDK_ROOT=$ANDROID_HOME
export PATH=$PATH:$ANDROID_HOME/emulator
export PATH=$PATH:$ANDROID_HOME/tools
export PATH=$PATH:$ANDROID_HOME/tools/bin
export PATH=$PATH:$ANDROID_HOME/platform-tools

export JAVA_HOME="/usr/local/Cellar/openjdk@17/17.0.13/"

export SIMULATOR='iPhone 11 Pro Max'

alias run-ios-bday='cd $HOME/wd/BirthdayReminder && yarn ios --simulator $SIMULATOR'
alias python=/usr/local/bin/python3
alias g=git
alias gs="g s"
alias t=tmux
alias vim=nvim

FF_EXCLUDE_LIST="--exclude .git --exclude .godot --exclude node_modules --exclude .zsh_sessions --exclude .cache --exclude .DS_Store --exclude .vim --exclude .vscode --exclude Applications --exclude .Trash --exclude .npm --exclude Library --exclude Movies --exclude Pictures --exclude Music --exclude .local --exclude .svelte-kit --exclude '*.import' --exclude '*.lib' --exclude '*.dll' --exclude '*.bak' --exclude '.CFUserTextEncoding' --exclude '.config/tmux/plugins*'"

fuzzy_find() {
  file_type="$1"
  open_in_program="$2"
  do_not_use_xargs="$3"

  found_path=$(fd . ~ --type ${file_type} --unrestricted \
    --exclude .git --exclude .godot --exclude node_modules --exclude .zsh_sessions --exclude .cache --exclude .DS_Store --exclude .vim --exclude .vscode --exclude Applications --exclude .Trash --exclude .npm --exclude Library --exclude Movies --exclude Pictures --exclude Music --exclude .local --exclude .svelte-kit --exclude '*.import' --exclude '*.lib' --exclude '*.dll' --exclude '*.bak' --exclude '.CFUserTextEncoding' --exclude '.config/tmux/plugins*' \
    | sed 's|/Users/rcallen/||' | \
    fzf-tmux -p --reverse | \
    sed 's|^|/Users/rcallen/|')

  found_path=$(echo ${found_path} | \
    sed "s|(|\\\(|g" | \
    sed "s|)|\\\)|g" | \
    sed "s|)|\\\)|g" | \
    sed "s|\]|\\\]|g" | \
    sed "s|\[|\\\[|g" | \
    sed "s| |\\\ |g" | \
    sed "s|&|\\\&|g"
  )
  echo "${found_path}"

  if [ -z "${do_not_use_xargs}" ]; then
    echo "${found_path}" | xargs ${open_in_program}
  else
    eval "${open_in_program} ${found_path}"
  fi
}

alias ff="fuzzy_find f nvim"
alias ffo="fuzzy_find f open"
alias ffd="fuzzy_find d nvim"
alias ffdo="fuzzy_find d open"
alias ffcd="fuzzy_find d cd true"

alias config='git --git-dir=$HOME/.cfg/ --work-tree=$HOME'

alias cat='bat'

# Fuzzy find command from history and execute
alias hg='old_command=$(history 1 | fzf-tmux -p | sed -E "s/^ +[0-9]+ +//"); echo "${old_command}"; eval "${old_command}"'

alias v2g='function video_to_gif(){ ffmpeg -i $1 $2 && gifsicle -O3 $2 -o $2 && osascript -e "display notification \"$2 successfully converted and saved\" with title \"Video 2 Gif SUCCESS!\""};video_to_gif'

alias icat='kitten icat'

alias aseprite='/Users/rcallen/Library/Application\ Support/Steam/steamapps/common/Aseprite/Aseprite.app/Contents/MacOS/aseprite'

alias vlc='/Applications/VLC.app/Contents/MacOS/VLC'


