alias ls='ls -G'
alias ll='ls -la'

LS_COLORS=

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../../'
alias ......='cd ../../../../..'
alias .......='cd ../../../../../..'

alias sz='source ~/.zshrc'
alias ez='vim ~/.zshrc'
alias ev='vim ~/.vimrc'

alias grep='grep --color=auto'

alias lsr='ls -l ./*(mh-1)'

alias bc='bc -l -q'

# MV Build Machines
ICAT_PROD_PEM_FILE=~/wd/icat-prod.pem

alias ssh-jenkins='ssh -i ${ICAT_PROD_PEM_FILE} deployuser@jenkins.icat.viasat.io'
alias ssh-osx='ssh -i ${ICAT_PROD_PEM_FILE} jenkins@172.27.146.136'

export ANDROID_HOME=$HOME/Library/Android/sdk
export ANDROID_SDK_ROOT=$ANDROID_HOME
export PATH=$PATH:$ANDROID_HOME/emulator
export PATH=$PATH:$ANDROID_HOME/tools
export PATH=$PATH:$ANDROID_HOME/tools/bin
export PATH=$PATH:$ANDROID_HOME/platform-tools

export JAVA_HOME=$(/usr/libexec/java_home -v 1.8)

export SIMULATOR='iPhone 11 Pro Max'
export MY_VIASERVER_HOME=$HOME/wd/MyViasatServer
export MY_VIASAT_HOME=$HOME/wd/MyViaserver
export MY_VIASAT_HOME=$HOME/wd/MyViasat

alias start-myviaserver='cd $MY_VIASERVER_HOME; yarn && yarn dev'
alias run-ios-myviasat='cd $MY_VIASAT_HOME/packages/mobile && yarn ios --simulator $SIMULATOR'
alias run-ios-bday='cd $HOME/wd/BirthdayReminder && yarn ios --simulator $SIMULATOR'
alias python=/usr/local/bin/python3

