alias ls='ls -G'
alias ll='ls -la'

LS_COLORS=

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../../'
alias ......='cd ../../../../..'
alias .......='cd ../../../../../..'

alias sz='source ~/.zshrc'
alias ez='vim ~/.zshrc'
alias ev='vim ~/.vimrc'

alias grep='grep --color=auto'

alias lsr='ls -l ./*(mh-1)'

alias bc='bc -l -q'

export ANDROID_HOME=$HOME/Library/Android/sdk
export ANDROID_SDK_ROOT=$ANDROID_HOME
export PATH=$PATH:$ANDROID_HOME/emulator
export PATH=$PATH:$ANDROID_HOME/tools
export PATH=$PATH:$ANDROID_HOME/tools/bin
export PATH=$PATH:$ANDROID_HOME/platform-tools

export JAVA_HOME="/usr/local/Cellar/openjdk@17/17.0.8.1/"

export SIMULATOR='iPhone 11 Pro Max'

alias run-ios-bday='cd $HOME/wd/BirthdayReminder && yarn ios --simulator $SIMULATOR'
alias python=/usr/local/bin/python3
alias g=git
alias t=tmux
alias vim=nvim

alias ff="fd . ~ --type f --unrestricted --exclude .git --exclude .godot --exclude node_modules --exclude .zsh_sessions --exclude .cache --exclude .DS_Store --exclude .vim --exclude .vscode --exclude Applications --exclude .Trash --exclude .npm --exclude Library --exclude Movies --exclude Pictures --exclude Music --exclude .local --exclude .svelte-kit --exclude '*.import' --exclude '*.lib' --exclude '*.dll' --exclude '*.bak' --exclude '.CFUserTextEncoding' --exclude '.config/tmux/plugins*' | sed 's|/Users/rcallen/||' | fzf-tmux -p --reverse | sed 's|^|/Users/rcallen/|' | xargs nvim"
alias ffd="fd . ~ --type d --unrestricted --exclude .git --exclude .godot --exclude node_modules --exclude .zsh_sessions --exclude .cache --exclude .DS_Store --exclude .vim --exclude .vscode --exclude Applications --exclude .Trash --exclude .npm --exclude Library --exclude Movies --exclude Pictures --exclude Music --exclude .local --exclude .svelte-kit --exclude '*.import' --exclude '*.lib' --exclude '*.dll' --exclude '.config/tmux/plugins/*' | sed 's|/Users/rcallen/||' | fzf-tmux -p --reverse | sed 's|^|/Users/rcallen/|' | xargs nvim"

alias reload='source ~/.zshrc; tmux kill-server; tmux';
alias config='git --git-dir=$HOME/.cfg/ --work-tree=$HOME'
