*

!.gitignore
!.config/
.config/*
!.config/bspwm/
!.config/bspwm/*
!.config/sxhkd/
!.config/sxhkd/sxhkdrc
!.config/mpd/
!.config/mpd/mpd.conf
!.config/compton.conf
!.config/qutebrowser
!.config/qutebrowser/*
!.vimrc
!.vim/
.vim/*
!.zshrc
!.xinitrc
!.Xresources
!.Xmodmap
!.fehbg
!bin
!bin/*
!pictures
!pictures/JnTdj4w.jpg
!.profile
