*

!.gitignore
!.config/
.config/*
!.config/bspwm/
!.config/bspwm/*
!.config/sxhkd/
!.config/sxhkd/sxhkdrc
!.config/mpd/
!.config/mpd/mpd.conf
!.config/compton.conf
!.vimrc
!.vim/
!.vim/*
!.vim/*/*
!.zshrc
!.xinitrc
!.Xresources
!.Xmodmap
!.fehbg
!.builds/
.builds/*
!.builds/path_dir
.builds/path_dir/*
!.builds/path_dir/panel
!.builds/path_dir/panel_bar
!.builds/path_dir/panel_colors
!.builds/path_dir/profile
!.builds/path_dir/bus
!.builds/path_dir/sp
!.builds/path_dir/cwd
!.vimperatorrc
!.vimperator
.vimperator/info
.vimperator/info/*
!.vimperator/*/*
