[user]
	email = robert.allen@viasat.com
	name = Robert Allen
[pull]
	rebase = true
[rerere]
	enabled = true
[alias]
	s = status -sb
	a = add
	c = commit
	lg = log --oneline --decorate --all --graph
	cm = commit -m 
	st = status
	br = branch
	co = checkout
	mg = merge
	cam = commit -am
	cl = clone
	pl = pull
	ps = push
    review = diff --staged
[core]
	autocrlf = input
	excludesfile = /home/ace/.gitignore_global
[format]
  pretty = "%H %ci %ce %ae %d %s"
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
